{% extends 'base.html'%}

{% block content%}
<div class="home_subtitle">
  <h2>About the data</h2>
</div>

<div class="home_info">
  <p> This website provides a means to explore the data produced a comprehensive whole genome analysis of transcriptomic Mtb data by EEJ. Stiens et al 2021 |check ###| to provide a means of exploring the existing repertoire of data we have on ncRNA in one place. 
  </p>
  <p> The data was derived from 4 major datasets of 52 samples, totalling 1442883107 mapped reads. The datasets are aplied to 15 conditions made to represent the true environmental conditions of Mtb within its host. Hubs of transcripts were then selected to be 'modules'.
  each exposed to a summaried 15 conditions. The website permits the exploration of the modules, transcripts, conditions and transcripts.</p>
  
  <div id="menu">

  <li> <a href="https://onlinelibrary.wiley.com/doi/full/10.1111/mmi.14862" > Challenges in definig the functional non-coding expressed genome of memembers of the Mtb complex</a></li>
  </div>
  


</div>


{% endblock%}